// variables
@import 'partials/variables';


h1{
    color: $color-primary;
}
nav{



    ul{
    list-style: none;
     li{
        color: blue;
    
    // aca vamos a usar un nuevo selector
    &:hover{
          color: red;
        }
        }   
}
}