main { 
    background-color: map-get($colores,violeta);
    font-size: 25px;
    
    .formulario1{
    font-size: 40px;
    .titulo{
        font-family: 'Abel';
       font-weight: bolder;
    }
    .sub-titulo{
        font-family: 'Roboto Condensed';
        font-weight: normal;
     }
    .botones{
        list-style: none;
        display: flex;
        #botones{
            list-style: none;
            display: flex;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 0;
        }
        
         .boton{
            font-size: 100%;
            font-family: 'Roboto Condensed';
            border-radius: 20px;
            width: 50%;
            height: 50%;
            border-color: $color-primary;
            color: white;
            background-color: black;
            display: flex;
            justify-content: space-around;
      }
    }
 }
 #nombres-jugadores{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-size: 25px;

    .franco{
        width: 70px;
        height: 70px;
    }
    .Maximiliano{
        @extend .franco
    }
    .david{
        @extend .franco
    }
    .nicolas{
        @extend .franco
    }
    .santino{
        @extend .franco
    }
   
   }
   .chile{
    width: 40px;
    height: 30px;
    }
    .uru{
    @extend .chile
    }
    .arg{
    @extend .chile
    }
    .br{
    width: 40px;
    height: 30px;
    }
   .lista-torneos{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    .intel{
        width: 40px;
        height: 40px;
    }
    .fire{
        @extend .intel
    } 
  }
  .ol1{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-size: 50px;

    .coachs{
        width: 70px;
        height: 70px;
    }

 }
 .despedida-zakk{
    @extend .torneos-9z
    }
    .hellpa{
        @extend .torneos-9z
     }
     .torneos-9z{
        width: 900px;
        border: 10px solid $color-primary;
        padding: 0px;
        height: 600px;
    }
    }